@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

html{
    scroll-behavior: smooth;
}  

*{
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

    font-family: 'Montserrat', sans-serif;
}

/* ------------ Navigation ------------ */

.nav{
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 22px;
    padding: 0px;
}

.nav li{
    float:left;
    list-style-type:none;
    margin-right:40px;
    padding: 5px;

    transition: background-color 0.2s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.about_link{
    color: black;
    text-decoration: underline;
    text-decoration-color: white;
    transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.about_link:hover{
    text-decoration-color: #3498db;
}

.portfolio_link{
    text-decoration: line-through;
    text-decoration-color: transparent;
    transition: all 0.5s cubic-bezier(0.39, 0.58, 0.57, 1);
    cursor: none;
}

.portfolio_link:hover{
    text-decoration-color: #2c3e50;
}


/* ------------ Heading ------------ */

.heading{
    position: relative;
    display: flex;
    top: 0px;
    width: 100vw;
    height: 80px;
}

.name{
    position: absolute;
    left: 60px;
    top: 25px;
}

.name p{
    font-weight: 400;
    font-size: 22px;
}

/* ------------ Portfolio Showcase ------------ */

.portfolio_showcase{
    position: absolute;
    width: 50vw;
    margin-top: 125px;

    left: 50%;
    transform: translateX(-50%);
}

.heading_p :nth-child(1){
    font-size: calc(4rem + 1vw);
}

.heading_p :nth-child(2){
    font-size: calc(0.5rem + 1vw);
}

/* ------------ Works Container ------------ */

.works_container{
    width: 100%;
    margin-top: 100px;
}
.works_container li{
    list-style-type: none;
    margin-bottom: 100px;
}

/* ------------ Work Container ------------ */

.work_container{
    width: 100%;
    height: auto;
}

.number{
    position: absolute;
    z-index: 3;
    bottom: 45px;
    right: 30px;;
}

.number span{
    font-weight: 300;
}

.btns{
    position: absolute;
    display:flex;
    z-index: 3;
    bottom: 10px;
    margin-left: 20px;
}

.link{
    display: block;
    width: 125px;
    height: 45px;
    margin: 20px;
    background-color: #2c3e50;
    font-size: 20px;
    border-radius: 25px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.link i{
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.link:hover i{
    transform: translateX(10px);
}

.link p{
    margin-top: 10px;
}

.image{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border: 1.5px solid #2c3e50;
}

.image:hover .hover_over_effect{
    transform: translateY(0px);
}

.image:hover .work_image{
    transform: scale(1.1);
}

.hover_over_effect{
    position: absolute;
    width: 100%;
    height: 500px;

    background-color: #1E88E5;
    opacity: 0.7;
    transform: translateY(500px);
    z-index: 2;

    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.work_image{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    z-index: 1;

    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.description{
    margin-top: 35px;
}

.description h2{
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color: #3498db;
}

.description p{
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 22px;
}

.seperation_line{
    margin-left: 5%;
    width: 90%;
    height: 2px;
    background-color: #2c3e50;
}

/* ------------ Contact Me Section ------------ */

.contact_me{
    display: flex;
    width: 200%;
    transform: translateX(-25%);
    height: 200px;

    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;

    background: -webkit-linear-gradient(top,#efefef,#fff -webkit-calc(2rem + 7.5vw),#fff);
    background: -webkit-gradient(linear,left top,left bottom,from(#efefef),color-stop(#fff),to(#fff));
    background: -o-linear-gradient(top,#efefef,#fff calc(2rem + 7.5vw),#fff);
    background: linear-gradient(to bottom,#efefef,#fff calc(2rem + 7.5vw),#fff);

    transition: all 0.5s ease;
}

.contact_me a{
    font-size: 45px;
    color: #1E88E5;
    text-decoration: underline;
    text-decoration-color: #1E88E5;
    z-index: 3;
}

.contact_me:hover .gradient{
    opacity: 1;
}

.gradient{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, #051937, #123b63, #196290, #188cbe, #12b9eb);
    z-index: 2;
    opacity: 0;

    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}



/* ------------ Media Query - Responsive Design ------------ */

@media only screen  and (max-width : 1440px) {
    .portfolio_showcase{
        width: 75vw;
    }

    .heading_p :nth-child(2){
        font-size: 22px;
    }

}

@media only screen  and (max-width : 1000px) {


    .heading_p :nth-child(1){
        font-size: 34px;
        font-weight: 600;
    }

    .heading_p :nth-child(2){
        font-size: 22px;
    }

    .portfolio_showcase{
        margin-top: 75px;
    }

}

@media only screen  and (max-width : 600px) {
    .btns{
        margin-left: 5px;
    }

    .link{
        margin: 10px;
    }

    .name{
        left: 42px;
        text-decoration: underline;
        text-decoration-color: #3498db;
    }

    .nav{
        left: 38px;
        top: 50px;
    }

    .heading_p :nth-child(1){
        font-size: 30px;
    }

    .heading_p :nth-child(2){
        font-size: 18px;
    }

    .portfolio_showcase{
        margin-top: 50px;
    }

    .works_container{
        margin-top: 50px;
    }

    .image{
        height: 400px;
    }
}

@media only screen  and (max-width : 414px) {
    .link{
        margin: 5px;
    }

    .number{
        display: none;
    }
}